.navbar-brand img{
	width: 120px;
	height: 38.1px;
}
.navbar {
  background: transparent;
  border-color: rgba(0, 145, 221, 0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0;
}
.navbar .hidden-sm > li > a {
  font-family: "Open Sans", sans-serif;
  margin-left: 40px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  float: right;
  padding-bottom: 15px;
  color: #fff;
  transition: transform 1s;
  height: 50px;
}
.navbar .hidden-sm button {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 23px;
  padding: 5px 20px;
  border: 2px solid #ee2a6b;
  color: #fff;
  background-color: #ee2a6b;
}
.navbar .visible-sm .dropdown button {
  background-color: #0b1b46;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 27px;
}
.navbar .visible-sm .dropdown-menu {
  width: 300px;
  background-color: #0b1b46;
  opacity: 0.8;
}
.navbar .visible-sm .dropdown-menu a {
  color: #fff;
}
.navbar .visible-xs .fa-plus {
  float: right;
}
.navbar .visible-xs > li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #96a0bd;
  margin-bottom: -10px;
}
.navbar .visible-xs > li > a:hover {
  color: #fff;
}
.navbar .navbar-right > li > a {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 14px;
}
.navbar .navbar-right button {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 23px;
  padding: 5px 20px;
  border: 2px solid #ee2a6b;
  color: #fff;
  background-color: #ee2a6b;
}

.navbar-hidden {
  background: #fff;
  border-color: rgba(139, 145, 221, 0);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0;
}
.navbar-hidden .hidden-sm > li > a {
  font-family: "Open Sans", sans-serif;
  margin-left: 40px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  float: right;
  padding-bottom: 15px;
  color: black;
  height: 50px;
}
.navbar-hidden .visible-sm .dropdown button {
  background-color: #0b1b46;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 27px;
}
.navbar-hidden .visible-sm .dropdown-menu {
  width: 300px;
  background-color: #0b1b46;
  opacity: 0.8;
}
.navbar-hidden .visible-sm .dropdown-menu a {
  color: #fff;
}
.navbar-hidden .visible-xs .fa-plus {
  float: right;
}
.navbar-hidden .visible-xs > li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #96a0bd;
  margin-bottom: -10px;
}
.navbar-hidden .visible-xs > li > a:hover {
  color: #fff;
}
.navbar-hidden .navbar-right button {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 23px;
  padding: 5px 20px;
  border: 2px solid #ee2a6b;
  color: #ee2a6b;
  background: transparent;
}
.navbar-hidden .navbar-right > li > a {
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 14px;
}

/*# sourceMappingURL=header1.css.map */
