.FeatureCandidate{
	background-color:#9297db;
	padding-top: 40px;
	z-index:-9;
   height: auto;
   padding-bottom: 20px;
   
}

.FeatureCandidate >h2{
	text-align: center;
	font-family:"Quicksand Regular";
	font-weight: bold;
	font-size: 30px;
	color: #fff;
}

.FeatureCandidate >p{
	text-align:center;
	color: #fff;
	font-family:"Open Sans",sans-serif;
	margin-bottom: 20px;
}

.FeatureCandidate .candidate-list{
	width: 100%;
    text-align: center;
   margin: 0 auto;

}
.FeatureCandidate .candidate-item{

	text-align: center;
	

}
.FeatureCandidate .candidate-item .frame{

	width: 210px;
	height: 250px;
	margin: 0 auto;
}
.FeatureCandidate  .candidate-item .view-cv{
width: 100px;
border: 2px #fff solid;
border-radius: 6px;
background-color: #fff;
margin: 10px auto;

}

.FeatureCandidate  .candidate-item .view-cv:hover{
color: #fff;
background-color: #9297db ;
cursor: pointer;
}
.FeatureCandidate  .candidate-item .name{
	
    margin: 10px auto;
	text-align: center;
	
    
}

.FeatureCandidate .candidate-item .name >div{
	font-family:"Open Sans", sans-serif;
	color:#fff;
	font-size: 17px;
	text-shadow: 0 0;
	text-decoration: none;
	font-weight: lighter;
}
.FeatureCandidate .candidate-item .name >p{
	font-family:"Open Sans", sans-serif;
	color: #fff;
	font-size: 16px;
	 text-shadow: 0 0;
	text-decoration: none;
	font-weight: lighter;
	margin-top: 7px;
	
}
.FeatureCandidate .circle img{
	
	background-color: #cccccc;
	border: 8px white solid;
	width: 121px;
	height: 121px;
	border-radius: 50%;
	margin: 0 auto;
	display: inline-block;
    float: none;
	position: relative;
	
}

@media screen and (min-width:481px) and (max-width: 768px) {
    .FeatureCandidate  .candidate-item {
        
	   text-align: center;
	   padding-bottom: 20px
	}
    
   }
