.Ourjob{
  margin-top: 30px;
}
.heading {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

}
.heading .titlejob {
    

    margin: 0;
    font-family: "Quicksand Regular";
    font-weight: 900!important;
    margin-top: 10px;
    
 

}


.Ourjob .tab-panel{
width: 340px;
height:75px;
border: 1px #e7e7e7 solid;
border-radius: 8px;
margin: 0 auto;
margin-top: 60px;

}

.Ourjob .tab-panel div{
width: 150px;
font-family: "Quicksand Regular";
font-weight: 900;
text-align: center;
font-size:18px;
margin-top: -5px;
height: 60px;
padding-top:20px;
}
.Ourjob .tab-panel div:hover{
  cursor:pointer;
}
.Ourjob .tab-panel .Featurejob{

float:left;
border-radius: 5px;
position:relative;
  left: 20px;
}
.Ourjob .tab-panel .Featurejob-active{
background-color: #1e83f0;
color: #fff;
float:left;
border-radius: 5px;
position:relative;
left: 20px;
}
.Ourjob .tab-panel .Recentjob{

  border-radius: 5px;
  float: right;
  position:relative;
  right:20px;
}
.Ourjob .tab-panel .Recentjob-active{
background-color: #1e83f0;
color: #fff;
  border-radius: 5px;
  float: right;
  position:relative;
  right:20px;
}
.Ourjob .joblist{
  margin-top: 20px;
}
.recruit-item{
     float: left;
   
    
    border: 1px solid #e8ecec;
    border-radius:6px;
    padding: 20px 0;
    background: #ffffff;
   width: 515px;
    padding-right: 30px;
    height: 100px;
    margin-bottom: 20px;
      margin-left: 20px;
      padding-top: 10px;
    }
.recruit-item .logo img{
  width: 98px;
  height: 51px;
}

@media only screen and (max-width: 768px) {
  .recruit-item .content{
 
    position:relative;
  right:30%;
 }

 .recruit-item .content > p{

  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #111111;
  margin-bottom: 3px;
 right: 30%
 }
}


.recruit-item .content{
 
   position:relative;
 right:20px;
}
.recruit-item .content h3,p{

 font-family: "Open Sans", sans-serif;
 font-weight: 100;
 font-size: 16px;
 color: #111111;
 margin-bottom: 3px;

}
.recruit-item .content h4{
    font-weight: 200;
   color: #1e83f0;
     position:relative;
     bottom: 20px;
}

.recruit-item .content p{
   position:relative;
     bottom: 20px;
}
.recruit-item .frame p {
   border-radius: 10px;
   font-size: 13px;
   color: #fff;
    width: 108px;
    margin: 9px 0;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    top:0px;
   
    position: relative;
}
.recruit-item .frame .full-time{
     background: #8b91dd;
}
.recruit-item .frame .part-time{
     background: #7dc246;
}
.recruit-item .frame .freelance{
     background: #fb236a;;
}
.recruit-item .content .heart{
    font-size: 18px;
    margin-left: 8px;
  
}
.recruit-item .content .heart:hover{
   color:#ec2944;
}
.recruit-item:hover {
   
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    z-index: 1;
    position: relative;
}
