/*
.theme-layout{
      float:left;
      overflow:hidden;
      position:relative;
      width:50%;
  }
.theme-layout.boxed{
    background:none repeat scroll 0 0 #FFFFFF;
    float:none;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    z-index:1;
    width:1300px;
    
    -webkit-box-shadow:0 0 6px #747474;
    -moz-box-shadow:0 0 6px #747474;
    -ms-box-shadow:0 0 6px #747474;
    -o-box-shadow:0 0 6px #747474;
    box-shadow:0 0 6px #747474;
}

.theme-layout:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.block.no-padding{
    padding-top:0;
    padding-bottom:0;
}
.block .container{
    padding:0
}
.container{
    padding:0
}

.row.no-gape{
    margin: 0;
}
.row.no-gape > div{
    padding: 0;
}

.padding-left {
    float: left;
    width: 100%;
    
}

.border-right {
    padding-right: 40px;
    border-right: 1px solid #edeff7;
    padding-top: 40px;
    padding-bottom: 40px;
}

*/


aside .widget {
    margin-top: 25px;
}
aside .widget:first-child {
    margin: 10;
}

aside .widget > div {
    margin-top: 15px; 
}

