.TopCompany {
	background-color:#f4f5fa;
	padding-top: 40px;
    height: auto;
   text-align: center;
}
.TopCompany >p {
	text-align:center;
	font-family:"Open Sans",sans-serif;
	margin-bottom: 40px;
}

.TopCompany >h2{
	text-align: center;
	font-family:"Quicksand Regular";
	font-weight: bold;
	font-size: 30px;
}
.TopCompany img {
    width: 180px;
    height: 80px;
   margin-bottom:30px;
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.TopCompany img {
		width: 140px;
		height: 65px;
	   margin-bottom: 30px;
	}
	
   }