
.widget > h3 {
  float: left;
  width: 100%;
  margin-top: 30px;
  font-family: Open Sans;
  font-size: 16px;
  color: #202020;
}

.sb-title {
  float: left;
  width: 100%;
  font-family: Open Sans;
  font-size: 16px;
  color: #111111;
  margin: 0;
  position: relative;
  padding-right: 30px;
  margin-bottom: 0;
  cursor: pointer;
}
.sb-title::before {
  position: absolute;
  right: 0;
  top: 11px;
  width: 20px;
  height: 1px;
  background: #222222;
  content: "";
}

.sb-title::after {
  position: absolute;
  right: 8px;
  top: 4px;
  width: 1px;
  height: 0px;
  background: #222222;
  content: "";
}
.sb-title.open.active::before {
  width: 17px;
}
.sb-title::after {
  height: 0px;
}
.sb-title.open.active::after {
  height: 15px;
}

.sb-title.open.active {
  margin-bottom: 0;
}

.sb-title.closed {
  
}
.sb-title.closed::after {
  height: 15px;
}
.sb-title.closed::before {
  width: 17px;
}

.specialism_widget {
  float: left;
  width: 100%;
}

.simple-checkbox p {
  float: left;
  width: 100%;
  margin: 0;
      margin-bottom: 0px;
  font-family: Open Sans;
  font-size: 13px;
  margin-bottom: 4px;
}
.simple-checkbox p label {
  padding-left: 31px;
}
.simple-checkbox p input[type="checkbox"]:checked + label::before, .simple-checkbox p input[type="radio"]:checked + label::before {
  background: #2c7dfa;
  border-color: #2c7dfa;
}
.simple-checkbox p input[type="checkbox"] + label::after {
  color: #ffffff;
}
.simple-checkbox {
  float: left;
  width: 100% !important;
}


.simple-checkbox.scrollbar {
  height: 232px;
}