/** Icon font */
.la,.la-stack{display:inline-block}
.la-fw,.la-li{text-align:center}
@font-face{font-family:LineAwesome;src:url(fonts/line-awesome.eot?v=1.1.);src:url(fonts/line-awesome.eot??v=1.1.#iefix) format("embedded-opentype"),url(fonts/line-awesome.woff2?v=1.1.) format("woff2"),url(fonts/line-awesome.woff?v=1.1.) format("woff"),url(fonts/line-awesome.ttf?v=1.1.) format("truetype"),url(fonts/line-awesome.svg?v=1.1.#fa) format("svg");font-weight:400;font-style:normal}
@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{font-family:LineAwesome;src:url(fonts/line-awesome.svg?v=1.1.#fa) format("svg")}}
.la{font:normal normal normal 16px/1 LineAwesome;font-size:inherit;text-decoration:inherit;text-rendering:optimizeLegibility;text-transform:none;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased}

/** Search icon */
.la-search:before{content:"\f2eb"}
.la-search-minus:before{content:"\f2ec"}
.la-search-plus:before{content:"\f2ed"}

/** Map icon */
.la-map:before{content:"\f27c"}
.la-map-marker:before{content:"\f27d"}
.la-map-o:before{content:"\f27e"}
.la-map-pin:before{content:"\f27f"}
.la-map-signs:before{content:"\f280"}


.search_widget_job .field_w_search:last-child {
      margin: 0;
}

.search_widget_job {
      float: left;
      width: 100%;
}

.field_w_search {
      float: left;
      width: 100%;
      position: relative;
      
      border: 2px solid #e8ecec;

      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;

      margin-bottom: 20px;
}

.field_w_search input {
      float: left;
      width: 100%;
      /* background: none; */
      padding: 15px 25px;
      font-size: 13px;
      margin: 0;

      border: 0.3px solid transparent;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
}

.field_w_search input:hover {
      border: 0.3px solid rgb(234, 235, 236);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
}

.field_w_search input:focus {
      border: 0.3px solid rgb(209, 148, 228);
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
}

.field_w_search i {
      position: absolute;
      right: 15px;
      top: 12px;
      color: #fb236a;
      font-size: 24px;
}

